/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.images {
  height: 100%;
  display: flex;
}
.frame {
  height: 270px;
  width: 450px;
  overflow: hidden;
}
.dots {
  margin-top: 15px;
  width: 100px;
  height: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.cont {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dots > div {
  height: 15px;
  width: 15px;
  border: 2px solid black;
  border-radius: 50%;
}
